
<%=flash[:alert]%>
<%=flash[:notice]%>
<br>
<div class="search">
<%= form_tag restaurants_url, method: 'get' do%>

  <%= text_field_tag :restaurant_name, params[:restaurant_name], placeholder: 'name'%>
  <%= text_field_tag :restaurant_city, params[:restaurant_city], placeholder: 'city'%>

<%= submit_tag 'Find'%>
<%end%>
</div>
