<h1>Restaurants Page</h1>

Name: <%= @restaurant.name %> <br />
Address <%= @restaurant.address %> <br />
Time Open: <%= @restaurant.time_open %> <br />
Time Close: <%= @restaurant.time_close %> <br />
<!-- Cuisine: <%= @Cuisine.name %> <br /> -->
