<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Hind|Noto+Serif|Oxygen" rel="stylesheet">
  <title>SeatYourself</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="center">
  <header class="bar-top">
    <%=image_tag("PVC-main-banner.png", alt: "Italian food")%>
    <nav class="nav">
    <h1 class="main_title">SeatYourself</h1>
    <div class= "menu-right">
      </nav>
  </header>

<%= yield %>

<div class="userinfo">
    <% if current_user %>
      Signed in as <%= current_user.name %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
    <% else %>
      <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
    <% end %>

  <footer>Copyright © 2017</footer>
</div>

</body>
</html>
